<mat-card style="padding: 8px;">
    <button mat-raised-button color="primary" (click)="newAddress()">
        Add Address
    </button>
    <mat-list>
        <mat-list-item *ngFor="let address of addresses; let i = index" [ngStyle]="{ 'border': address.id === selectedAddress.id ? '2px solid green' : '2px solid black',
            'margin-bottom': '8px' ,
            'cursor': 'pointer'}" (click)="selectAddress(address)">
            <div style="display: flex;">
                <p>
                    {{ address.addressLine1 }}, {{ address.city }}, {{ address.state }}
                </p>
                <button mat-icon-button color="primary" (click)="onEdit(i)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>
    <div *ngIf="openChange">
        <form [formGroup]="addressForm" (ngSubmit)="onSubmit()" class="form-container">
            <mat-form-field appearance="fill">
                <mat-label>Address Line 1</mat-label>
                <input matInput formControlName="addressLine1" />
                <mat-error *ngIf="addressForm.get('addressLine1')?.invalid">Address Line 1 is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Address Line 2</mat-label>
                <input matInput formControlName="addressLine2" />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" />
                <mat-error *ngIf="addressForm.get('city')?.invalid">City is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <mat-select formControlName="state">
                    <mat-option *ngFor="let state of statesList" [value]="state">
                        {{ state }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="addressForm.get('state')?.invalid">State is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Zip Code</mat-label>
                <input matInput formControlName="zipCode" />
                <mat-error *ngIf="addressForm.get('zipCode')?.invalid">Must be a valid 5-digit zip code</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country" (selectionChange)="onCountryChange($event.value)">
                    <mat-option *ngFor="let country of countriesList" [value]="country">
                        {{ country }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="addressForm.get('country')?.invalid">Country is required</mat-error>
            </mat-form-field>

            <div class="button-container">
                <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid">
                    {{ isEditMode ? 'Update' : 'Add' }} Address
                </button>
                <button mat-raised-button type="button" (click)="resetForm()">Cancel</button>
            </div>
        </form>
    </div>
</mat-card>